body {
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #page-content {
    flex: 1 0 auto;
  }
  
  
  body {
    background-color: black;
    color: goldenrod;
  }

  .imagem-carrossel-um{
    object-fit: cover;
    object-position: 0 80%;
    height: 90vh;
}

.imagem-carrossel-dois{
  object-fit: cover;
  object-position: 0 20%;
  height: 90vh;
}

.imagem-carrossel-tres{
    object-fit: cover;
    object-position: 0 30%;
    height: 90vh;
}

p{
  font-family: Verdana;
  font-size: 18px;
  text-align: center;
  margin-left: 9%;
  margin-right: 9%;
}

h1{
  text-align: center;
  font-family: Verdana;
}

h4{
  text-align: center;
}