body {
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: goldenrod;
}

#page-content {
  flex: 1 0 auto;
}
@media (max-width: 768px) {
.carousel-slide {
height: auto;
width: auto;
}
.body { font-size:14px}
}

